
.canvas-outer-wrapper {
  margin:10px;
  float:left;
}

.canvas-inner-wrapper {
  float:left;
}


.canvas-outer-wrapper .tools-wrapper {
  height:100%;
  padding:5px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.canvas-outer-wrapper .toolbar-icon {
  width:16px;
  height:16px;
  margin:6px 8px 4px;
  display:inline-block;
}

.canvas-outer-wrapper .toolbar-icon.active,
.canvas-outer-wrapper .toolbar-icon:hover {
  border:1px inset black;
  margin:5px 7px 3px;
  cursor:pointer;
}
