.views-slideshow-controls-bottom .views_slideshow_pager_field_item{
	display: inline-block;
}
.form-horizontal .form-item.form-group .form-control.form-text.text-full ,
.form-horizontal .form-item.form-group .form-select{
	width: auto;
}
.form-horizontal .form-item.form-group .form-textarea-wrapper{
	border-collapse: separate;
	display: table;
	width: 83%;

}

.form-horizontal .field-multiple-table .form-wrapper.form-group.field-type-taxonomy-term-reference,
.form-horizontal .field-multiple-table .form-wrapper.form-group.field-type-number-float{
	float: left;
}
.form-horizontal .field-widget-number.form-wrapper.form-group .form-item .form-control.form-text,
.form-horizontal .field-type-datetime .date-float,
.form-horizontal .field-type-datetime .date-float label{
	width: 50%;
}
.form-horizontal .field-type-datetime .date-no-float label,
.form-horizontal .field-name-field-facture tbody label,
.form-horizontal .form-type-checkbox label.control-label{
	width: auto;
}
.form-horizontal .form-checkboxes .form-type-checkbox{
	display: inline;
}
.form-horizontal .field-type-datetime .date-no-float .date-padding{
	float: none;
}
body .modal-backdrop {
    z-index: 910;
}