/**
 * @file
 * Signaturefield element template file
 */

@media screen {

  .sigPad {
    margin: 0;
    padding: 0;
  }

  .sigPad input {
    margin: 0;
    padding: 0.2em 0;
    width: 198px;
    border: 1px solid #b0879f;
    font-size: 1em;
  }

  .sigPad input.error {
    border-color: #f33;
  }

  .sig {
    display: none;
  }

  .sigNav {
    display: none;
    height: 2.25em;
    margin: 0;
    padding: 0;
    position: relative;
    list-style-type: none;
    list-style: none;
  }

  .sigNav a,
  .sigNav a:link,
  .sigNav a:visited {
    display: block;
    margin: 0;
    padding: 0 0.6em;
    font-weight: bold;
    line-height: 2.25em;
  }

  .sigNav a.current,
  .sigNav a.current:link,
  .sigNav a.current:visited {
    background-color: #b0879f;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    color: #fff;
    text-decoration: none;
  }

  .sigNav .clearButton {
    bottom: 0.2em;
    display: none;
    position: absolute;
    font-size: 0.75em;
    line-height: 1.375;
  }

  .sigWrapper canvas {
    border: 1px solid #737373;
  }

  .pad {
    position: relative;
  }

  .current .pad {
    cursor: url("pen.png") 8 8, crosshair;
  }

}
