@media print {
	body {
		margin: 0;
		padding: 0;
	}
	body.toolbar{
		padding: 0!important;
	}
	#btnPrint,
	#skip-link,
	footer,
	header,
	#header,
	.breadcrumb,
	.tabs--primary,
	.page-header,
	.region-page-top,
	#admin-menu{
		display: none;
	}
    .printcontent* {
        visibility: visible;
    }
    .printcontent{
        position: absolute;
        left: 0;
        top: -25px;
		background:none;
		height:270mm;
		width:200mm;
    }
	.printcontent a[href]:after {
		content: none !important;
	}

	.printcontent.feuille-facture{
		left: 15px;
		top: 15px;
	}
	.printcontent.feuille-facture  .wrapper-adresse{
		height: 150px;
		margin-top: 80px;
	}
	.printcontent.feuille-facture  .facture-num{
		margin: 60px 0;
	}
	.printcontent.feuille-facture  .adresse{
		width: 350px;
	}

	.printcontent.feuille-facture  .view-content{
		display: block;
		height: 205mm;
		position: relative;
	}
	.printcontent.view-display-id-page_ticket .view-content{
		display: block;
		height: 160mm;
		position: relative;
	}
	.view-display-id-page_attestation_presence .views-field-nothing,
	.view-display-id-page_attestation .views-field-nothing{
		font-size: 21px;
	}

}
.feuille-facture{
    height:270mm;
    width:210mm;
}
.feuille-facture  #site-slogan {
	font-size: 26px;
	margin: 2px 0;
	padding: 0;
	font-family:"Avenir Light",arial,'sans serif';
}
.feuille-de-soins .view-content{
	background:url(../images/feuille_de_soins.jpg) no-repeat top left;
    position:relative;
    height:270mm;
    width:210mm;
    background-size: 210mm 297mm;
	font-family:Verdana, Geneva, sans-serif
}
.feuille-de-soins .field,
.feuille-de-soins .field-group-div{
	position:absolute;
	font-weight: bold;
}

.feuille-de-soins .field{
	font-weight: bold;

}
.feuille-de-soins .field .field-label-above div{
	display:inline;
}
.feuille-de-soins .field-name-field-montant-total,
.feuille-de-soins .field-name-field-atmp-numero,
.feuille-de-soins .field-name-field-n-pr,
.feuille-de-soins .field-name-field-n-secu-2eme,
.feuille-de-soins .field-name-field-n-centre,
.feuille-de-soins .field-name-field-n-secu,
.feuille-de-soins .date-display-single{
    letter-spacing: 7.45px;
	font-size:17px;
}
.feuille-de-soins .field-group-div span{
	margin-right: 10px;
}
.feuille-de-soins .field-name-field-date-facturation {
	left: 620px;
	top: 47px;
}

.feuille-de-soins .field-name-field-n-secu {
	left: 214px;
	top: 132px;
}
.feuille-de-soins .field-name-field-n-centre {
	left: 605px;
	top: 132px;
}
.feuille-de-soins .field-name-field-date-naissance {
    left: 210px;
    top: 160px;
}
.feuille-de-soins .field-name-field-medecin  {
    left: 120px;
    top: 462px;
}
.feuille-de-soins .field-name-field-n-pr {
	left: 200px;
	top: 485px;
}
.feuille-de-soins .field-name-field-n-secu-2eme {
	left: 210px;
	top: 230px;
}
.feuille-de-soins .field-name-information-societe-2,
.feuille-de-soins .field-name-information-societe {
	left: 25px;
	top: 300px;
}

.feuille-de-soins .field-name-field-date-de-prescription{
	left: 210px;
	top: 525px;
}
.feuille-de-soins .group-nom-prenom{
	left: 110px;
	top: 100px;
}
.feuille-de-soins .group-nom-prenom-assure{
	left: 110px;
	top: 198px;
}
.feuille-de-soins .group-adresse{
	left: 25px;
	top: 265px;
}
.feuille-de-soins .field-name-field-facture{
	left: 25px;
	top: 682px;
}
.feuille-de-soins .field-name-field-facture .wrapper{
	position: relative;
	height: 250px;
	width: 740px;
}
.feuille-de-soins .field-name-field-facture .wrapper .field-facture-item {
	height: 60px;
}
.feuille-de-soins .field-name-field-facture .vocabulary-facture-designation h2{
	width:400px;
}
.feuille-de-soins .field-name-field-facture .field-name-field-produit-montant{
	margin-top: 30px;
}
.feuille-de-soins .field-name-field-facture .field-name-field-tarif-lpp{
	display: none;
}
.feuille-de-soins .field-type-taxonomy-term-reference h2{
	font-size:small;
	padding: 0;
	margin: 0;
}

.feuille-de-soins .vocabulary-code-barre{
	position: absolute;
	left: 430px;
	display: block;
	width: 320px;
	height: 100px;
}
.feuille-de-soins .vocabulary-code-barre img{
	display: inline;
	margin-right: 20px;
}
.feuille-de-soins .first .vocabulary-code-barre{
	margin-top: -35px;
}
.feuille-de-soins .last .vocabulary-code-barre{
	margin-top: 0px;
}

.feuille-de-soins .field-name-field-medicin{
	left: 116px;
	top: 475px;
}
.feuille-de-soins .field-name-field-accident-cause{
    left: 218px;
    top: 600px;
}
.feuille-de-soins .field-name-field-accident-cause-date{
	left: 410px;
	top: 600px;
}
.feuille-de-soins .field-name-field-date-accord-prealable{
	left: 620px;
	top: 525px;
}
.feuille-de-soins .field-name-field-prescription-medicale{
	left: 217px;
	top: 535px;
}
.feuille-de-soins .field-name-field-ald{
	left: 210px;
	top: 575px;
}
.feuille-de-soins .field-name-field-action-autre{
	left: 475px;
	top: 575px;
}
.feuille-de-soins .field-name-field-action-prevention{
	left: 380px;
	top: 575px;
}
.feuille-de-soins .field-name-field-atmp{
	left: 25px;
	top: 625px;
}
.feuille-de-soins .field-name-field-atmp-numero{
	left: 255px;
	top: 625px;
}
.feuille-de-soins .field-name-field-atmp-date{
	left: 615px;
	top: 625px;
}
.feuille-de-soins .field-name-field-part-complementaire{
	left: 725px;
	top: 970px;
}
.feuille-de-soins .field-name-field-part-obligatoire{
	left: 330px;
	top: 970px;
}
.feuille-de-soins .field-name-field-maladie{
	left: 25px;
	top: 550px;
}
.feuille-de-soins .field-name-field-montant-total{
	left: 415px;
	top: 940px;
}
.container-inline div.double-field-first,
.container-inline div.double-field-second{
	display: inline-block;
	width: 50%;
}
.appareillage.Semelle{
	color: deeppink;
}
.appareillage.Chaussure{
	color: green;
}

.appareillage.provisoire{
	color: orange;
}
.appareillage.réparation{
	color: brown;
}
.appareillage.Refaite,
.Refaite{
	color: darkcyan;
}
.appareillage.retourner,
.Retourner{
	color: darkviolet;
}
